.about-paragraph {
  color: #595959;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}

.about-paragraph-part-two {
  color: #595959;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
}

.sub-title {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.contact-title {
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
.contact-paragraph {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

.contact-info {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
}

.about-container-overall {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.about-container-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about-container-right img {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.about-container-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 1023px) {
  .about-container-overall {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .about-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-container-right img {
    display: flex;
    object-fit: cover;
    width: 100%;
    margin-top: 30px;
  }
}
