.article-content {
  width: 100%;
  height: 20%;
}

.post-thumbnail {
  width: 100%;
  max-height: 100vh;
}

.read-more-container {
  font-weight: 600;
}

.posts-title {
  margin-top: 30px;
}

.read-more-news {
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.allposts-paragraph {
  margin-top: 30px;
}

.read-more-container {
  display: flex;
  justify-content: space-between;
}
.posts-container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.posts-container div {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.posts-container img {
  object-fit: cover;
  height: 400px;
}

.post-subtitle {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 16px;
}

.posts-container a {
  font-size: 18px;
  font-weight: 600;
}

.post-content-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.posts-container a:hover {
  font-weight: 800;
}

.post-content-container a {
  margin-top: auto;
}

.post-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 16px;
}

.post-content-container {
  padding: 16px;
}

.post-preview {
  max-width: 100%;
  background: #f5f5f5;
}
.post-preview .article-content {
  padding: 24px;
}
.post-preview .read-more-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .news-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .posts-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
