.about-paragraph {
  color: #595959;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}

.about-paragraph-part-two {
  color: #595959;
  font-size: 16px;
  font-weight: 300;
}

.page-title {
  margin-top: 30px;
}

.sub-title {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

input {
  border-bottom: 2px solid var(--primary-color);
  padding: 8px;
}

.contact-subtitle {
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
}
.contact-paragraph {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

.contact-info {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
}

.contact-container-overall {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contact-container-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contact-container-right img {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.contact-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 1023px) {
  .contact-container-overall {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .contact-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact-container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact-container-right img {
    display: flex;
    object-fit: cover;
    width: 100%;
    margin-top: 30px;
  }
}
